{% extends 'base.html' %}
{% load test_utils %}
{% block styles %}
<style>
    .timer {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .timer * {
        background-color: var(--dark-background-1) !important;
    }

    .questions h5 {
        font-weight: bold;
    }

    .accordion-item {
        background-color: var(--dark-background-2);
        padding: 1em;
    }
    
    .accordion-header * {
        color: var(--light-background-1);
    }

    .accordion-item button:hover,
    .accordion-item button:focus,
    .accordion-item button:active
    {
        color: var(--light-background-1);
    }

    .accordion-item li {
        list-style: none;
        color: var(--light-background-1);
    }

    .answers-list .answer {
        list-style: none;
        padding: 1em;
        transition: background-color 0.3s ease;
    }

    .answers-list .answer:hover {
        background-color: var(--dark-background-4);
        cursor: pointer;
    }
</style>

{% endblock styles %}

{% block content %}
<div class="container">
    <div class="test">
        <h2 class="title">{{ test.title }}</h2>

        <div class="questions">
            {% for question in questions %}
            <h5>{{ question.question }}</h5>
            {% if question.image %}
            <img src="{{ question.image.url }}" alt="{{ question.question }} - image" class="img-fluid">
            {% endif %}

            <ul class="answers-list">
                {% for answer in question.answers.all %}
                <li id="answer{{ answer.pk }}" class="answer" onclick='addAnswer("{{ question.pk }}", "{{answer.pk}}")'>{{ answer.answer }}</li>
                {% endfor %}
            </ul>

            <p id="error-msg-{{question.pk}}" class="error-msg"></p>
            <button 
                id="question-{{ question.pk }}-selector" 
                class="btn btn-primary" 
                onclick='selectAnswer("{{ question.pk }}", {{ question|get_correct_answers }})'
                >
                Submit Answer
            </button>

            <div class="accordion accordion-flush mt-3">
                <div id="{{ question.pk }}" class="accordion-item correct-answer">
                    <h5 class="accordion-header">
                        <button 
                            class="btn" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapse{{ question.pk }}" 
                            aria-expanded="true" 
                            aria-controls="collapse{{ question.pk }}"
                            >
                            Show Answer
                        </button>
                    </h5>

                    <div id="collapse{{ question.pk }}" class="accordion-collapse collapse">
                        {% for answer in question.correct_answers.all %}
                        <li>{{ answer.answer }}</li>
                        {% endfor %}
                        
                        {% if question.explanation %}
                        <p class="bg-success">
                            <strong>Explanation: </strong> {{ question.explanation }}
                        </p>
                        {% endif %}
                    </div>
    
                </div>
            </div>

            <hr>
            {% endfor %}
        </div>
    </div>

    <div class="timer card card-body">
        <div id="score" class="score-text">Score: </div>
        <div id="timer" class="timer-text">00:00</div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    const urlParams = new URLSearchParams(new URL(window.location.href).search);
    const durationInMinutes = urlParams.get('duration');
    let duration = durationInMinutes * 60;
    const timer = document.getElementById('timer');
    const scoreElem = document.getElementById('score');
    window.onload = () => sessionStorage.clear();

    const interval = setInterval(() => {
        duration--;
        updateTimer();

        if (duration <= 0) {
            clearInterval(interval);
            alert("You've run out of time.")
        }
    }, 1000); 

    const updateTimer = () => {
        const mins = Math.floor(duration / 60);
        const secs = duration % 60;
        timer.innerText = `${mins}:${secs}`;
    }

    const addAnswer = (question, answer) => {
        let answers = (sessionStorage.getItem(question));
        const elem = document.getElementById(`answer${answer}`);
        if (answers != null && answers != undefined) {
            answers = JSON.parse(answers);
            
            if (answers.includes(answer)) {
                answers = answers.filter(item => item !== answer);
                elem.style.backgroundColor = "";
            } else {
                answers.push(answer);
                elem.style.backgroundColor = "var(--green-1)";
            }
            
            sessionStorage.setItem(question, JSON.stringify(answers));
        } else {
            sessionStorage.setItem(question, JSON.stringify([answer]))
        }
    }

    const selectAnswer = (question, correctAnswers) => {
        let answers = JSON.parse(sessionStorage.getItem(question));
        if (answers === null) {
            document.getElementById(`error-msg-${question}`).innerText = "Please select an answer.";
            return;
        }

        const condition = correctAnswers.every(element => answers.includes(element.toString())) && correctAnswers.length === answers.length;
        if (condition === true) {
            const btn = document.getElementById(`question-${question}-selector`);
            btn.disabled = true;
            let score = sessionStorage.getItem('score');
            if (score !== null && score !== undefined) {
                score = parseInt(score) + 1;
            } else {
                score = 1;
            }
            scoreElem.innerText = `Score: ${score}`;
            sessionStorage.setItem('score', score);
            console.log("Correct");
        } else {
            const correctAnswerElem = document.getElementById(`collapse${question}`);
            correctAnswerElem.classList.add('show');
            console.log("Not Correct");
        }
    }

</script>
{% endblock scripts %}